/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and Basic Layout */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f7fc;
  color: #333;
  padding: 0;
  margin: 0;
  height: 100vh;
}

h1.title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

/* Navbar Styling */
.navbar {
  background-color: #4e73df;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

#google_translate_element {
  margin-left: auto;
}

/* Main Content Styling */
.container {
  max-width: 600px;
  margin: 40px auto;
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
  color: #4e73df;
}

input {
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

input:focus {
  border-color: #4e73df;
}

button {
  padding: 12px;
  background-color: #4e73df;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #2e59d9;
}

/* Button Links */
.btn-link {
  text-align: center;
  display: block;
  margin-top: 15px;
  font-size: 16px;
  color: #4e73df;
  text-decoration: none;
  padding: 10px 0;
  transition: color 0.3s;
}

.btn-link:hover {
  color: #2e59d9;
}

/* Progress Bar Styling */
.progress-bar-container {
  margin-top: 30px;
  text-align: center;
}

.progress-bar {
  width: 100%;
  height: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4e73df;
  width: 50%;
  transition: width 0.3s ease;
}

/* Dark Mode Styling */
body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode .navbar {
  background-color: #333;
}

body.dark-mode .btn-submit {
  background-color: #555;
}

body.dark-mode .form input, .form button {
  background-color: #333;
  color: white;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container, .graph-container {
      width: 90%;
      padding: 20px;
  }
  
  h1.title {
      font-size: 24px;
  }
  
  .navbar-brand {
      font-size: 18px;
  }
}
