{% extends "base.html" %}

{% block content %}
    <h1 class="title">Welcome, {{ username }}</h1>
    <h2>Your Workouts</h2>
    <ul>
        {% for workout in workouts %}
        <li>{{ workout['workout_name'] }} - {{ workout['steps'] }} steps</li>
        {% endfor %}
    </ul>
    <form action="/submit" method="POST">
        <h3>Add a New Workout</h3>
        <label for="workout-name">Workout Name</label>
        <input type="text" name="workout-name" required>
        <label for="steps">Steps</label>
        <input type="number" name="steps" required>
        <label for="duration">Duration (minutes)</label>
        <input type="number" name="duration" required>
        <label for="calories">Calories Burned</label>
        <input type="number" name="calories" required>
        <label for="heart-rate">Heart Rate</label>
        <input type="number" name="heart-rate" required>
        <label for="workout-date">Date</label>
        <input type="date" name="workout-date" required>
        <button type="submit">Submit Workout</button>
    </form>
{% endblock %}
