<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RapidAid AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div id="header">
        <ul id="navbar">
            <li id="navli"><a href="/">Home</a></li>
            <li id="navli"><a href="/contact">Contact</a></li>
            <li id="navli"><a href="/history">Medical Injury History</a></li>
            <li id="navli"><a href="/about">About</a></li>
        </ul>
    </div>
    <h1>Directions</h1>
    <p>{{ response | safe }}</p>
</body>