<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="graph-container">
        <h1 class="title">Workout Data Graph</h1>
        <div class="graph">
            {{ graph_html | safe }}
        </div>
        <br>
        <a href="/" class="btn-link">Back to Home</a>
    </div>
</body>
</html>
