<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RapidAid AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div id="header">
        <ul id="navbar">
            <li id="navli"><a href="/">Home</a></li>
            <li id="navli"><a href="/contact">Contact</a></li>
            <li id="navli"><a href="/history">Medical Injury History</a></li>
            <li id="navli"><a href="/about">About</a></li>
        </ul>
    </div>
    <h1 id="main">Welcome to RapidAid AI</h1>
    <iframe src="directions.html" frameborder="0" style="display: none;"></iframe>
    <form id="main", action="directions", method="post">
        <label for="injury">Enter the injury:</label>
        <input type="text" id="injury" name="injury" placeholder="e.g choking or leg wound" required>
        <label for="severity">Select the severity:</label>
        <select id="severity" name="severity">
            <option value="not severe">Not severe</option>
            <option value="kinda severe">Kind of severe</option>
            <option value="severe">Severe</option>
            <option value="very severe/life threatened">Very Severe/Life Threatened</option>
          </select>
        <button type="submit", onclick="submitValue()">Send to AI</button>
    <div id="footer">made by Yajath, powered by flask and openai</div>
    <div id="google_translate_element"></div>
    <script type="text/javascript">
        function googleTranslateElementInit() {
          new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</body>
</html>
