<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Tracker</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/graphs">Graphs</a>
        <a href="/progress">Progress Report</a>
        <a href="/weather">Weather</a>
    </nav>

    <h1>Workout Tracker</h1>
    <form action="/" method="POST">
        <input type="text" name="workout_name" placeholder="Workout Name" required>
        <input type="number" name="steps" placeholder="Steps Taken" required>
        <input type="number" name="heart_rate" placeholder="Heart Rate (optional)">
        <input type="number" name="calories_burned" placeholder="Calories Burned (optional)">
        <input type="number" name="distance_walked" placeholder="Distance Walked (km, optional)">
        <button type="submit">Add Workout</button>
    </form>

    <h2 style="text-align: center;">Workout History</h2>
    <ul style="text-align: center; list-style-type: none;">
        {% for workout in workouts %}
            <li>{{ workout.date }} - {{ workout.workout_name }}: {{ workout.steps }} steps</li>
        {% endfor %}
    </ul>
    <p style="text-align: center;">made by yajath b and powered by python, flask, and other cool stuff</p>
</body>
</html>
